<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/supplier/layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title" th:text="${content}"></h2>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white" />
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <form>
                            <div class="mb-4">
                                <div class="mb-4">
                                    <label class="form-label">반품 번호</label>
                                    <input type="text" placeholder="Type here" id="refundCode" class="form-control" th:value="${refund.refundCode}" readonly="readonly" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">총 반품 금액</label>
                                    <input type="text" placeholder="Type here" class="form-control" th:value="${refund.refundTotalMoney}" readonly="readonly" />
                                </div>
                                <label class="form-label">결제수단</label>
                                <!--<input type="text" placeholder="Type here" class="form-control" id="product_name" />-->
                                <input type="text" class="form-control" th:value="${paymentMethod}" readonly="readonly" />
                            </div>
                            <div th:if="${ship != null}">
                                <div class="mb-4">
                                    <label class="form-label">운송장 번호</label>
                                    <input type="text" placeholder="10자리" class="form-control" th:value="${ship.transportNum}" readonly="readonly" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">담당자 이름</label>
                                    <input type="text" placeholder="Type here" class="form-control" th:value="${ship.manager}" readonly="readonly" />
                                </div>
                                <div class="md-2">
                                    <button class="btn btn-primary md-2" id="refundClear" type="button" th:if="${ship.deliveryState != '반품완료'}">반품 완료</button>
                                    <!--button class="btn btn-primary md-2" id="submitBtn">배송등록</button>-->
                                </div>
                            </div>
                            <div th:unless="${ship != null}">
                                <div class="mb-4">
                                    <label class="form-label">운송장 번호</label>
                                    <input type="text" placeholder="10자리" class="form-control" id="transNum" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">담당자 이름</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="manager" />
                                </div>
                                <div class="md-2">
                                    <button class="btn btn-primary md-2" type="button">뒤로가기</button>
                                    <button class="btn btn-primary md-2" id="submitBtn" type="button">배송등록</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>판매의약품 코드</th>
                                    <th>의약품 이름</th>
                                    <th>주문 갯수</th>
                                    <th class="text-end">가격</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="r : ${refundList}">
                                    <td th:text="${r.mediList.mediCode}">21</td>
                                    <td th:text="${r.mediList.mediName}"><b>Cake & Milk</b></td>
                                    <td th:text="${r.RDList.refundQty} + '개'">Cake & Milk</td>
                                    <td class="text-end" th:text="${r.RDList.refundMoney} + '원'">/cake</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- .col// -->
                </div>
                <!-- .row // -->
            </div>
            <!-- card body .// -->
        </div>
        <!-- card .// -->
    </section>
    <!-- content-main end// -->

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">

        $('#submitBtn').click(function(){
            let isSubmit = true;
            $('#transNum, #manager').each((idx, element) => {
                const id = element.id;
                const value = element.value;
                if(!value){
                    alert(`${id}는(은) 필수 입력 항목입니다`);
                    $(element.focus());
                    isSubmit = false;
                    return false;
                }
            });
            if(isSubmit){
                const shipping = {};
                const transportNum = $('#transNum').val();
                shipping['transportNum'] = transportNum;
                const manager = $('#manager').val();
                shipping['manager'] = manager;
                const refundCode = $('#refundCode').val();
                shipping['refundCode'] = refundCode;
                console.log(shipping);
                const request = $.ajax({
                    url : '/supplier/myRefundShip',
                    method : 'POST',
                    contentType : 'application/json',
                    data : JSON.stringify(shipping),
                    dataType : 'json'
                });
                request.done(item => {
                    return item;
                });
            }
        });

        $('#refundClear').click(function(){
            const refundCode = $('#refundCode').val();
            const ship = {};
            ship['refundCode'] = refundCode;
            const request = $.ajax({
                url : '/supplier/refundClear',
                method : 'POST',
                contentType : 'application/json',
                data : JSON.stringify(ship),
                dataType : 'json'
            });
        })
    </script>
</th:block>
</html>

