<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title" th:text="${content}"></h2>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row gx-5">
                    <div class="col-lg-9">
                        <section class="content-body p-xl-4" th:object="${requestMedicine}">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row gx-3">
                                            <div class="col-6 mb-3">
                                                <label class="form-label">의약품 이름</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{medicalInfo.mediName}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">소비기한</label>
                                                <input class="form-control" type="date" th:value="*{medicalInfo.mediUsebydate}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-6 mb-3">
                                                <label class="form-label">판매자 아이디</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{medicalInfo.regMId}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">업체명</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="${suppName}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">제형</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{medicalInfo.mediDrugform}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">의약품 구분</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{medicalInfo.mediDrugtype}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-12 mb-3">
                                                <label class="form-label">상세 설명</label>
                                                <textarea class="form-control" rows="4" readonly="readonly" th:text="*{sellMediInfo.mediDetail}"></textarea>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">가격</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{sellMediInfo.mediPrice}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">판매 수량</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{sellMediInfo.regQty}"/>
                                            </div>
                                            <!-- col .// -->
                                            <div class="row">
                                                <label class="col-lg-6 mb-3 form-label">성분</label>
                                                <label class="col-lg-6 mb-3 form-label">함량</label>
                                            </div>
                                            <div class="row" th:if="${requestMedicine.medicalInfo.ingrList != null}" th:each="i : ${requestMedicine.medicalInfo.ingrList}">
                                                <div class="col-lg-6 mb-3">
                                                    <input class="form-control" type="text" readonly="readonly" th:value="${i.ingredient}"/>
                                                </div>
                                                <!-- col .// -->
                                                <div class="col-lg-6 mb-3">
                                                    <input class="form-control" type="text" readonly="readonly" th:value="${i.content}"/>
                                                </div>
                                                <!-- col .// -->
                                            </div>
                                            <div>
                                                <div class="col-lg-12 mb-3">
                                                    <label class="form-label">효능</label>
                                                    <input class="form-control" type="text" readonly="readonly" th:value="${effies}"/>
                                                </div>
                                            </div>
                                            <!-- col .// -->
                                            <div class="col-lg-6 mb-3">
                                                <label class="form-label">등록일</label>
                                                <input class="form-control" type="text" readonly="readonly" th:value="*{sellMediInfo.regDate}"/>
                                            </div>

                                        </div>
                                        <!-- row.// -->
                                    </div>
                                    <!-- col.// -->
                                    <aside class="col-lg-4">
                                        <figure class="text-lg-center">
                                            <img class="img-lg mb-3 img-avatar" th:src="*{medicalInfo.imgInfo.filePath}" alt="User Photo" />
                                            <figcaption>
                                                <label class="form-label">제품 이미지</label>
                                            </figcaption>
                                        </figure>
                                    </aside>
                                    <!-- col.// -->
                                </div>
                                <!-- row.// -->
                                <br />
                            <a th:href="@{/admin/medicine/medicineModify(goodsCode=*{sellMediInfo.goodsCode})}" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> 수정하기 </a>
                            <hr class="my-5" />
                            <!-- row.// -->
                        </section>
                        <!-- content-body .// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!-- card body end// -->
        </div>
        <!-- card end// -->
    </section>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#resetBtn').click(e => {
            e.preventDefault();
            location.href = '/admin/adminMain';
        });

        $('#submitBtn').click(function(){
            let isSubmit = true;
            $('#addMedicine input, #addMedicine select').each((idx, element) => {
                const id = element.id;
                const value = element.value;
                if(!value){
                    alert(`${id}는(은) 필수 입력 항목입니다`);
                    $(element.focus());
                    isSubmit = false;
                    return false;
                }
            });
            if(isSubmit) $('#addMedicine').submit();
        });

        const createIngrRow = () => {
            const ingrContent = [
                { 'tagName' : 'input', 'type' : 'text', 'name' : 'Ingredient' },
                { 'tagName' : 'input', 'type' : 'text', 'name' : 'content' },
                { 'tagName' : 'button', 'type' : 'button' }
            ];
            const $tr = $('<tr></tr>');
            ingrContent.forEach(item => {
                const $td = $('<td></td>');
                const tagName = item.tagName;
                delete item.tagName;
                const $element = $('<' + tagName + ' />', item);
                $td.append($element);
                $tr.append($td);
            });
            return $tr;
        }
        // 3. 행의 추가 버튼
        $(document).on('click', '.ingrAddBtn', function(){
            $('#ingrTbody button:last').addClass('ingrDelBtn')
                .removeClass('ingrAddBtn')
                .text('삭제');
            const $row = createIngrRow();
            $row.find('input').addClass('form-control');
            $row.find('button').addClass('btn btn-md rounded font-sm hover-up ingrAddBtn')
                .text('추가');
            $('#ingrTbody').append($row);
        });
        // 4. 행의 삭제 버튼
        $(document).on('click', '.ingrDelBtn', function(){
            $(this).closest('tr').remove();
        });

        const createEffiRow = () => {
            const ingrContent = [
                { 'tagName' : 'input', 'type' : 'text', 'name' : 'efficacy' },
                { 'tagName' : 'button', 'type' : 'button' }
            ];
            const $tr = $('<tr></tr>');
            ingrContent.forEach(item => {
                const $td = $('<td></td>');
                const tagName = item.tagName;
                delete item.tagName;
                const $element = $('<' + tagName + ' />', item);
                $td.append($element);
                $tr.append($td);
            });
            return $tr;
        }
        // 3. 행의 추가 버튼
        $(document).on('click', '.effiAddBtn', function(){
            $('#effiTbody button:last').addClass('effiDelBtn')
                .removeClass('effiAddBtn')
                .text('삭제');
            const $row = createEffiRow();
            $row.find('input').addClass('form-control');
            $row.find('button').addClass('btn btn-md rounded font-sm hover-up float-end effiAddBtn')
                .text('추가');
            $('#effiTbody').append($row);
        });
        // 4. 행의 삭제 버튼
        $(document).on('click', '.effiDelBtn', function(){
            $(this).closest('tr').remove();
        });
    </script>
</th:block>
</html>

