<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <form id="deleteMedicine" th:action="@{/admin/medicine/medicineDelete(mediCode=${mediCode})}" method="post">

            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title" th:text="${content}">의약품 삭제</h2>
                        <div>
                            <button id="resetBtn" class="btn btn-light rounded font-sm mr-5 text-body hover-up">삭제취소</button>
                            <button type="button" id="submitBtn" class="btn btn-md rounded font-sm hover-up">의약품 삭제</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. 의약품 정보</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label" for="mediName">의약품 이름</label>
                                        <input type="text" value="의약품이름" name="mediName" id="mediName" class="form-control" th:value="${mediName}" readonly="readonly">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="writeName">삭제조건</label>
                                        <input type="text" placeholder="의약품 이름을 적어주세요" name="writeName" id="writeName" class="form-control" >
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section> <!-- content-main end// -->

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#submitBtn').click(function(){
            const oriName = $('#mediName').val();
            const writeName = $('#writeName').val();
            if(oriName == writeName){
                $('#deleteMedicine').submit();
            }
        });
    </script>
</th:block>
</html>