<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team01.yaksutor.pharmacy.mapper.PhMedicineMapper">


     <!--======================================
                     sell_medicine
     ======================================-->

    <!--의약품판매등록 조회-->
    <resultMap type="SellMedicine" id="sellMedicineResultMap">
        <id column="goods_code" 			property="goodsCode" />
        <result column="supp_code" 		property="suppCode"/>
        <result column="medi_code" 		property="mediCode"/>
        <result column="medi_name" 		property="mediName"/>
        <result column="medi_detail" 		property="mediDetail"/>
        <result column="medi_price" 	property="mediPrice"/>
        <result column="medi_img" 	property="mediImg"/>
        <result column="reg_qty" 	property="regQty"/>
        <result column="state" 	property="state"/>
        <result column="reg_date" 	property="regDate"/>
        <result column="file_path" 	property="filePath"/>
        <result column="medi_drugform" 	property="mediDrugForm"/>
        <result column="medi_drugtype" 	property="mediDrugType"/>
        <result column="medi_state" 	property="mediState"/>

    </resultMap>

    <select id="getSellMedicineList" resultMap="sellMedicineResultMap">
        SELECT
        s.goods_code,
        s.supp_code,
        s.medi_code,
        s.medi_name,
        s.medi_detail,
        s.medi_price,
        s.medi_img,
        s.reg_qty,
        s.state,
        s.reg_date,
        i.file_path,
        m.medi_drugform,
        m.medi_drugtype,
        m.medi_state
        FROM
        sell_medicine AS s
        INNER JOIN
        img_data AS i
        ON
        s.medi_img = i.file_idx
        INNER JOIN
        medicine AS m
        ON s.medi_code = m.medi_code
        WHERE
        s.state = '판매중';
    </select>
<!--    &lt;!&ndash;등록&ndash;&gt;
    <insert id="addBoard" parameterType="Board">
        <selectKey keyProperty="boardCode" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(cm_num) = 0 THEN 'comm_1'
            ELSE
            CONCAT(
            'comm_',
            MAX(CAST(SUBSTRING_INDEX(cm_num, 'comm_', -1) AS UNSIGNED)) +1)
            END AS boardCode
            FROM
            community;
        </selectKey>
        INSERT INTO community
        (cm_num, m_id, cm_title, cm_content, cm_view, cm_date)
        values
        (#{boardCode}, #{mId}, #{boardTitle}, #{boardContent},#{boardView}, CURDATE());
    </insert>

    &lt;!&ndash;수정&ndash;&gt;
    <update id="modifyBoard" parameterType="Board">
        UPDATE community
        <set>
            <if test="boardTitle != null and boardTitle != ''">
                cm_title = #{boardTitle},
            </if>
            <if test="boardContent != null and boardContent != ''">
                cm_content = #{boardContent},
            </if>
        </set>
        WHERE
        cm_num = #{boardCode}
    </update>

    &lt;!&ndash;삭제&ndash;&gt;
    <delete id="deleteBoard" parameterType="String">
        DELETE FROM community
        WHERE cm_num = #{boardCode}
    </delete>-->




</mapper>