<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment">
    <footer class="footer" id="footer">
        <div class="footer-inner">
            <div class="footer-logo">
                <div class="flex-right">
                    <h3>YAKSUTOR<i class="bi bi-capsule"></i></h3>
                </div>
            </div>


            <div class="footer-info">
                약수터 | 대표 김약수 | 사업자 등록 번호 : 123-34-34567 통신판매업 신고번호 : 제 2024-전북전주-000000호 [사업자 정보 확인]<br>
                전라북도 전주시 덕진구 123 | 대표전화 : 1000-1234 | 문의: admin@yaksutor.com<br>
                개인정보 처리방침 | 이용약관
                <h5>© 2024 YAKSUTOR</h5>
            </div>
        </div>
    </footer>

</div>
<div th:fragment="teamIntroFragment">
    <footer class="footer IntroFooter" id="footer">
        <table 	style="table-layout: fixed;">
            <tr class="text-center" style="font-size: 23px;">
                <th><strong>길범진</strong> 팀원</th>
                <th><strong>박중연</strong> 팀장</th>
                <th><strong>최성식</strong> 팀원</th>
            </tr>
            <tr style="font-size: 18px">
                <td class="PJY">
                 <ul>
                     <li>본인 기능</li>
                     <li>본인 기능</li>
                     <li>본인 기능</li>
                     <li>본인 기능</li>
                     <li>본인 기능</li>
                     <li>본인 기능</li>
                 </ul>
                </td>
                <td class="GBJ">
                    <ul>
                        <li>본인 기능</li>
                        <li>본인 기능</li>
                        <li>본인 기능</li>
                        <li>본인 기능</li>
                        <li>본인 기능</li>
                        <li>본인 기능</li>
                    </ul>
                </td>
                <td class="CSS">
                    <ul>
                        <li>메인화면(Index)</li>
                        <li>사용자 메인화면</li>
                        <li>커뮤니티 페이지</li>
                        <li>공지사항 페이지</li>
                        <li>1:1 문의 페이지</li>
                        <li>자주하는 질문 페이지</li>
                        <li>장바구니 페이지</li>
                        <li>주문하기 페이지</li>
                        <li>레이아웃(fragment)</li>
                    </ul>
                </td>
            </tr>
            <tr class="text-center">
                <td class="GBJ">
                    <a href="https://github.com/Gil-seven" target='_blank'><i class="bi bi-github"></i></a>
                </td>
                <td class="PJY">
                    <a href="https://github.com/jyPark4321" target='_blank'><i class="bi bi-github"></i></a>
                </td>
                <td class="CSS">
                    <a href="https://github.com/sssungsik" target='_blank'><i class="bi bi-github"></i></a>
                    <a href="https://sssungsik.github.io/" target='_blank'><i class="bi bi-person-vcard"></i></a>
                </td>
            </tr>


        </table>
    </footer>
</div>

</html>