<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footerFragment">
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo">YAKSUTOR💊</h1>

            <h2 class="font-1">(주)약수터</h2>

            <address>
                <br>전북 전주시 덕진구 백제대로 123

                <a class="footer__btn" href="mailto:example@gmail.com">이메일문의</a>
            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">고객센터</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Online</a>
                    </li>

                    <li>
                        <a href="#">Print</a>
                    </li>

                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">개인정보처리방침</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Hardware Design</a>
                    </li>

                    <li>
                        <a href="#">Software Design</a>
                    </li>

                    <li>
                        <a href="#">Digital Signage</a>
                    </li>


                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">정책·약관</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#">Terms of Use</a>
                    </li>

                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </li>
        </ul>


        <div class="legal">
                      <p>&copy; 2024 Something. All rights reserved.</p>

            <div class="legal__links">
                <span>일부 상품의 경우 약수터는 통신판매중개자이며 통신판매 당사자가 아닙니다.<br>
해당되는 상품의 경우 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다.</span>
            </div>
        </div>
    </footer>
</div>
<footer class="main" th:fragment="teamIntroFragment" style="background-color: #1e2231;">
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row text-center">
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-user.svg}" alt="logo" /></a>
                            <p class="font-lg text-heading">팀장: 박중연</p>
                        </div>
                        <ul class="contact-infor">
                            <li>간단한 자기소개</li>
                            <li>본인 기능</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-user.svg}" alt="logo" /></a>
                            <p class="font-lg text-heading">팀원: 길범진</p>
                        </div>
                        <ul class="contact-infor">
                            <li>간단한 자기소개</li>
                            <li>본인 기능</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-user.svg}" alt="logo" /></a>
                            <p class="font-lg text-heading">팀원: 최성식</p>
                        </div>
                        <ul class="contact-infor">
                            <li>간단한 자기소개</li>
                            <li>본인 기능</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

</html>