<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer id="footer" class="footer_new" th:fragment="footerFragment">
    <div class="footer-layer1 is-narrowed">
        <a href="#" target="_blank">회사소개</a>
        <a href="#" target="_blank">Investor Relations</a>
        <a href="#" target="_blank">인재채용</a>
        <a href="https://forms.gle/1VRReEqFk24heS8q8">입점 / 제휴문의</a>
        <a th:href="@{/pharm/notice}">공지사항</a>
        <a href="#">고객의 소리</a>
        <a href="#">이용약관</a>
        <a href="# "><b>개인정보 처리방침</b></a>
        <a href="#">신뢰관리센터</a>
        <a href="#" target="_blank">제휴마케팅</a>
        <a href="#" target="_blank">광고안내</a>

        </div>
        <div class="footer-layer2">
            <span class="logo"><a th:href="@{/pharm/main}" title="YAKSUTOR">YAKSUTOR</a></span>
            <div class="footer-content">
                <address>
                    상호명 및 호스팅 서비스 제공 : 약수터(주)<br>
                    대표이사 : 김수터<br>
                    전라북도 전주시 기린대로 446 <br>
                    사업자 등록번호 : 123-45-67891 <br>
                    통신판매업신고 : 2017-전북전주-0001<br>
                    <a href="http://www.ftc.go.kr/" target="_blank" class="licensee" title="사업자정보 확인">사업자정보 확인 &gt;</a>
                </address>
                <div class="contact-info">
                    <a href="#" class="call-center" title="365 고객센터">
                        <strong>365고객센터</strong> | 전자금융거래분쟁처리담당<br>
                        <em>1234-1234 (무료)</em>
                        전라북도 전주시 기린대로 446<br>
                        <span class="contact-fax">email : admin@yaksutor.com</span>
                    </a>
                </div>
                <p class="safe-service">
                    <strong>우리은행 채무지급보증 안내</strong><br>
                    <span>
                  당사는 고객님이 현금 결제한 금액에 대해<br>우리은행과 채무지급보증 계약을 체결하여<br>안전거래를 보장하고 있습니다.<br>
              </span>
                    <a href="javascript:;" id="serviceCheck" class="service-check" title="서비스 가입사실 확인">서비스 가입사실 확인 &gt;</a>
                </p>
            </div>
        </div>
        <div class="footer-layer3 slide-unit">
            <div class="certification-list" style="width: 968px;height: 80px;margin: 0 auto;background: url(//static.coupangcdn.com/image/coupang/common/footer_asset_v16.png) no-repeat;background-position: -270px -92px;position: relative;background-size: 1086px 178px;">
            </div>
        </div>
        <div class="footer-layer4">
            <div class="coupang-copyright">
                <p class="info" style="padding-top:9px">사이버몰 내 판매되는 상품 중에는 약수터에 등록한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.
                    <br> 마켓플레이스(오픈마켓) 상품의 경우 약수터는 통신판매중개자이며 통신판매의 당사자가 아닙니다. <br>약수터는 마켓플레이스(오픈마켓) 상품, 거래정보 및 거래 등에 대하여 책임을 지지
                    않습니다. <br> 약수터는 소비자 보호와 안전거래를 위해 신뢰관리센터(admin@yaksutor.com)를 운영하고 있으며, 관련 분쟁이 발생할 경우 별도의 분쟁 처리절차에 의거 분쟁이
                    처리됩니다.<br> Copyright © Yaksutor Corp. All Rights Reserved.
                </p>
                <ul class="sns-link">
                    <li><a href="https://www.facebook.com/" target="_blank" class="facebook" title="페이스북">
                        페이스북</a></li>
                    <li><a href="#" target="_blank" class="blog" title="뉴스룸">뉴스룸</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank" class="instagram" title="인스타그램">
                        인스타그램</a></li>
                </ul>
            </div>
        </div>
    </footer>
<footer class="main" th:fragment="teamIntroFragment">
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row text-center">
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-user.svg}" alt="logo" /></a>
                            <p class="font-lg text-heading">팀장: 박중연</p>
                        </div>
                        <ul class="contact-infor">
                            <li>간단한 자기소개</li>
                            <li>본인 기능</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-user.svg}" alt="logo" /></a>
                            <p class="font-lg text-heading">팀원: 길범진</p>
                        </div>
                        <ul class="contact-infor">
                            <li>간단한 자기소개</li>
                            <li>본인 기능</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                        <div class="logo mb-30">
                            <a href="index.html" class="mb-15"><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-user.svg}" alt="logo" /></a>
                            <p class="font-lg text-heading">팀원: 최성식</p>
                        </div>
                        <ul class="contact-infor">
                            <li>간단한 자기소개</li>
                            <li>본인 기능</li>
                            <li><img th:src="@{/resource/user/assets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

</html>