<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/supplier/layout/default}">
<head>
</head>
<body>
<th:block layout:fragment="customContent">
    <div id="main">
     <h1><span class="mb-50 p-3" style="color: #0d6efd" th:text="${session.S_NAME}"></span>님</h1>
        <div>
            <ul class="sup_slider">
                <li>
                    <a class="tab BtnType" th:href="@{/supplier/myMedicineSearchList}">나의 약품  <span class="badge badge-pill badge-secondary"
                                                                         th:each="s, i: ${sellMediList}"
                                                                         th:if="${i.index < 1}"
                                                                         th:text="${i.size}"></span>
                    </a>
                </li>
                <li>
                    <a  class="tab BtnType" >나의 주문<span class="Badge"></span></a>
                </li>
                <li>
                    <a  class="tab BtnType" >나의 알림<span class="Badge"></span></a>
                </li>

            </ul>
        </div>


    </div>
</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
</th:block>
</body>
</html>