<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" th:href="@{/resource/user/assets/css/plugins/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/resource/user/assets/css/main.css?v=5.6}" />
    <link rel="stylesheet" th:href="@{/resource/user/assets/css/pharmMain.css}" />
    <link rel="stylesheet" th:href="@{/resource/user/assets/css/footer.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body>

<!-- 헤더 -->
<div th:replace="~{user/pharmacy/fragments/header :: headerFragment}"></div>
<main class="main Pmain">
    <section class="home-slider position-relative mb-30">
        <div class="container">
            <div class="home-slide-cover mt-30">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap cover-1">
                        <img th:src="@{/resource/user/assets/imgs/lime.jpg}" style="margin: auto"/>
                    </div>
                    <div class="single-hero-slider single-animation-wrap cover-2">
                        <img th:src="@{/resource/user/assets/imgs/yellow.jpg}" style="margin: auto"/>
                    </div>
                    <div class="single-hero-slider single-animation-wrap cover-3">
                        <img th:src="@{/resource/user/assets/imgs/green.jpg}" style="margin: auto"/>
                    </div>
                    <div class="single-hero-slider single-animation-wrap cover-4">
                        <img th:src="@{/resource/user/assets/imgs/blue.jpg}" style="margin: auto"/>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </div>
    </section>
    <!--End hero slider-->

    <!--Products Tabs-->
    <section class="section-padding pb-5 m-1">
        <div class="container">
            <div class="section-title wow animate__animated animate__fadeIn newItemsBorder">
                <h3 class="font-1">신제품 |</h3><p class="font-1 newItems"> 이달의 의약품을 만나보세요.</p>

                <ul class="nav nav-tabs links" id="myTab-2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">일반의약품</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">전문의약품</button>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-3 d-none d-lg-flex wow animate__animated animate__fadeIn">
                    <div class="banner-img style-2" style="background-image: url(https://www.purpress.com/data/file/society/2041221835_CgkbNKZp_966d74f07bd57ea1c42b048dd3a8464cc91f13fe.jpg)">

                    </div>
                </div>
                <div class="col-lg-9 col-md-12 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
                    <div class="tab-content" id="myTabContent-1">
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                    <div class="product-cart-wrap" th:each="s : ${sellMedicineList}" th:if="${s.mediDrugType} == '일반의약품'">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="shop-product-right.html">
                                                    <img class="default-img" th:src="${s.filePath}" />
                                                    <img class="hover-img"   th:src="${s.filePath}" />
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> <i class="fi-rs-eye"></i></a>
                                                <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="sale" th:text="${s.mediDrugType}">타입</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a th:text="${s.mediDrugForm}"></a>
                                            </div>
                                            <h2><a href="shop-product-right.html" th:text="${s.mediName}">약품명</a></h2>

                                            <p th:text="${s.mediDetail}">효능</p>
                                            <div class="product-price mt-10">
                                                <span style="color: black" th:text="${s.mediPrice} + '원'"></span>
                                                <span style="color: #4d5368; font-size: 13px" th:text="${s.mediState}"></span>
                                            </div>
                                            <div class="sold mt-15 mb-15">
                                                <span class="font-xs text-heading" th:text="'재고 : ' + ${s.regQty} + ' 개'">재고</span>
                                            </div>
                                            <a class="btn w-100 hover-up" style="font-weight: normal;font-family: 'Pretendard-Regular'; background: black;" th:href="@{/pharm/order/orderMedicine}"><i class="fi-rs-shopping-cart mr-5"></i>주문하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End tab-pane-->
                        <div class="tab-pane fade" id="tab-two-1" role="tabpanel" aria-labelledby="tab-two-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-2-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns-2">
                                    <div class="product-cart-wrap" th:each="s : ${sellMedicineList}" th:if="${s.mediDrugType} == '전문의약품'">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="shop-product-right.html">
                                                    <img class="default-img" th:src="${s.filePath}" />
                                                    <img class="hover-img"   th:src="${s.filePath}" />
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"> <i class="fi-rs-eye"></i></a>
                                                <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot" th:text="${s.mediDrugType}">타입</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a th:text="${s.mediDrugForm}"></a>
                                            </div>
                                            <h2><a href="shop-product-right.html" th:text="${s.mediName}">약품명</a></h2>

                                            <p th:text="${s.mediDetail}">효능</p>
                                            <div class="product-price mt-10">
                                                <span style="color: black" th:text="${s.mediPrice} + '원'"></span>
                                                <span style="color: #4d5368; font-size: 13px" th:text="${s.mediState}"></span>
                                            </div>
                                            <div class="sold mt-15 mb-15">
                                                <span class="font-xs text-heading" th:text="'재고 : ' + ${s.regQty} + ' 개'">재고</span>
                                            </div>
                                            <a class="btn w-100 hover-up" style="font-weight: normal;font-family: 'Pretendard-Regular';background: black;" th:href="@{/pharm/order/orderMedicine}"><i class="fi-rs-shopping-cart mr-5"></i>주문하기</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                            </div>
                    <!--End tab-content-->
                </div>
                <!--End Col-lg-9-->
            </div>
        </div>
    </section>
    <!--End Best Sales-->


</main>
<!-- 푸터 -->
<div th:replace="~{user/pharmacy/fragments/footer :: footerFragment}"></div>





<!-- 사용자정의 js 파일  -->
<th:block layout:fragment="customJsFile">
<!--    <script type="text/javascript" th:src="@{/js/cssandjs/actions.js}"></script>-->
    <!-- Vendor JS-->
    <script th:src="@{/resource/user/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/resource/user/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <!-- TemplateJS -->
    <script th:src="@{/resource/user/assets/js/main.js?v=5.6}"></script>
    <script th:src="@{/resource/user/assets/js/shop.js?v=5.6}"></script>

</th:block>
<!-- 사용자정의 script -->
<th:block layout:fragment="customJs">
</th:block>
</body>
</html>













