<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>
    <title th:text="${title}"></title>
</head>

<th:block layout:fragment="customContent">

    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10" th:text="${content}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                        <tr class="main-heading">
                            <th scope="col" colspan="2" class="start pl-30">의약품 이름</th>
                            <th scope="col">갯수</th>
                            <th scope="col">판매자</th>
                            <th scope="col" class="end">가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pt-30" th:each="r : ${refundDetailList}">
                            <td class="image product-thumbnail pt-40"><img th:src="${r.imgList.filePath}" alt="#"></td>
                            <td class="product-des product-name">
                                <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="#" th:text="${r.mediList.mediName}">Field Roast Chao Cheese Creamy Original</a></h6>
                            </td>
                            <td class="price" data-title="Price">
                                <h6 class="text-body" th:text="${r.RDList.refundQty}">$2.51 </h6>
                            </td>
                            <td class="price" data-title="Price">
                                <h6 class="text-body" th:text="${r.suppList.supName}">$2.51 </h6>
                            </td>
                            <td class="price" data-title="Price">
                                <h6 class="text-brand" th:text="${r.RDList.refundMoney} + '원'">$2.51 </h6>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody th:object="${refundInfo}">
                                <tr>
                                    <td hidden="hidden"><h6 th:text="*{refundCode}" id="refundCode"></h6></td>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">반품 총액</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" th:text="*{refundTotalMoney} + '원'">$12.31</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">반품 사유</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h6 class="text-heading text-end" th:text="*{refundReason}"></h6>
                                    </td>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">반품 상태</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h6 class="text-heading text-end" th:text="*{refundState}">반품승인 </h6></td></tr> <tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a th:href="@{#}" class="btn mb-20 w-100" id="cancelBtn">반품취소<i class="fi-rs-sign-out ml-15"></i></a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#cancelBtn').click(function(){
            const refundCode = $('#refundCode').text();
            console.log(refundCode);
            const request = $.ajax({
                url : '/pharm/cancleRefund',
                method : 'POST',
                contentType : 'application/json',
                data : JSON.stringify({'refundCode' : refundCode}),
                dataType : 'json'
            });
            request.done(function(item){
                $(location).attr('href', '/pharm/myRefundSearchList');
            })
            request.fail(function(jqXHR, textStatus, error){
                console.log(error);
                $(location).attr('href', '/pharm/myRefundSearchList');
            });
        });
    </script>
</th:block>
</html>





