<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>
    <title th:text="${title}"></title>
</head>

<th:block layout:fragment="customContent">

    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10" th:text="${content}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                        <tr class="main-heading">
                            <th scope="col" colspan="2" class="start pl-30">의약품 이름</th>
                            <th scope="col" class="text-center">갯수</th>
                            <th scope="col">판매자</th>
                            <th scope="col" class="end">가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pt-30" th:each="o : ${ODList}">
                            <td class="image product-thumbnail pt-40"><img th:src="${o.imgData.filePath}" alt="#"></td>
                            <td class="product-des product-name">
                                <h6 class="mb-5 product-name mb-10 text-heading" th:text="${o.sellMedicine.mediName}">Field Roast Chao Cheese Creamy Original</h6>
                            </td>
                            <td class="text-center detail-info" data-title="Stock">
                                <h6 class="mb-5 product-name mb-10 text-heading" th:text="${o.orderQty}"></h6>
                            </td>
                            <td class="price" data-title="Price">
                                <h6 class="text-body" th:text="${o.supplier.supName}">$2.51 </h6>
                            </td>
                            <td class="price" data-title="Price">
                                <h6 class="text-brand" th:text="${o.orderPrice} + '원'">$2.51 </h6>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <form>
                            <table class="table no-border">
                                <tbody th:object="${orderInfo}">
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 type="text" id="oCode" class="oCode" th:text="${orderInfo.oCode}"></h6>
                                        <h6 class="text-muted">반품 총액</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h6 class="text-brand text-end" th:text="*{orderTotalPrice} + '원'">$12.31</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">반품사유</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <input type="text" id="refundReason" name="refundReason" class="text-heading text-end form-control" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <button type="button" id="submitBtn" class="btn mb-20 w-100">반품신청<i class="fi-rs-sign-out ml-15"></i></button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#submitBtn').click(function(){
            const order = {};
            /*order['oCode'] = $('.oCode').text();*/
            const refundReason = $('#refundReason').val();
            const refund = {}
            refund['refundReason'] = refundReason;
            const requestRefundInfo = {}
            const oCode = $('#oCode').text();
            requestRefundInfo['orderCode'] = oCode;
            requestRefundInfo['refundReason'] = refundReason;
            console.log(JSON.stringify(requestRefundInfo))
            const request = $.ajax({
                url : '/pharm/myRefundInsert',
                method : 'POST',
                contentType : 'application/json',
                data : JSON.stringify(requestRefundInfo),
                dataType : 'json'
            });
            request.done(function(item){
                $(location).attr('href', '/pharm/myRefundSearchList');
            })
            request.fail(function(jqXHR, textStatus, error){
                console.log(error);
                $(location).attr('href', '/pharm/myRefundSearchList');
            });
        });
    </script>
</th:block>
</html>





