<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team01.yaksutor.pharmacy.mapper.PhShoppingCartMapper">


    <!--======================================
                    장바구니
    ======================================-->

    <!--장바구니 조회-->
    <resultMap type="ShoppingCart" id="shoppingCartResultMap">
        <id column="shopping_cart_code" property="shoppingCartCode" />
        <result column="goods_code" property="goodsCode"/>
        <result column="o_m_id" property="oMId"/>
        <result column="qty" property="qty"/>
        <result column="shopping_cart_group" property="shoppingCartGroup"/>
        <result column="reg_date" 	property="regDate"/>
        <result column="medi_name" 		property="mediName"/>
        <result column="medi_price" 	property="mediPrice"/>
        <result column="cartSize" 	property="cartSize"/>

    </resultMap>

    <select id="getShoppingCartList" resultMap="shoppingCartResultMap">
        SELECT
            *
        FROM
            shopping_cart AS s
        INNER JOIN
            sell_medicine AS sm
        ON
            s.goods_code = sm.goods_code;

    </select>
    <!--    &lt;!&ndash;등록&ndash;&gt;
        <insert id="addBoard" parameterType="Board">
            <selectKey keyProperty="boardCode" resultType="String" order="BEFORE">
                SELECT
                CASE
                WHEN COUNT(cm_num) = 0 THEN 'comm_1'
                ELSE
                CONCAT(
                'comm_',
                MAX(CAST(SUBSTRING_INDEX(cm_num, 'comm_', -1) AS UNSIGNED)) +1)
                END AS boardCode
                FROM
                community;
            </selectKey>
            INSERT INTO community
            (cm_num, m_id, cm_title, cm_content, cm_view, cm_date)
            values
            (#{boardCode}, #{mId}, #{boardTitle}, #{boardContent},#{boardView}, CURDATE());
        </insert>

        &lt;!&ndash;수정&ndash;&gt;
        <update id="modifyBoard" parameterType="Board">
            UPDATE community
            <set>
                <if test="boardTitle != null and boardTitle != ''">
                    cm_title = #{boardTitle},
                </if>
                <if test="boardContent != null and boardContent != ''">
                    cm_content = #{boardContent},
                </if>
            </set>
            WHERE
            cm_num = #{boardCode}
        </update>

        &lt;!&ndash;삭제&ndash;&gt;
        <delete id="deleteBoard" parameterType="String">
            DELETE FROM community
            WHERE cm_num = #{boardCode}
        </delete>-->




</mapper>