<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>
    <title th:text="${title}"></title>
</head>

<th:block layout:fragment="customContent">
    <main class="main">
        <div class="container mb-30 mt-50">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="mb-50">
                        <h1 class="heading-2 mb-10" th:text="${content}"></h1>
                    </div>
                    <a class="btn btn-sm float-end mb-5" th:href="@{/pharm/myStockInsert}">새 재고 등록</a>
                    <table class="table table-wishlist">
                            <thead>
                            <tr class="text-center fs-5">
                                <th scope="col" class="custome-checkbox start pl-30">의약품 이름</th>
                                <th scope="col">수량</th>
                                <th scope="col" style="text-align: center">재고조사 여부</th>
                                <th scope="col" style="text-align: center">재고조사 일자</th>
                                <th scope="col" class="end">출고처리</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="pt-30" th:each="s : ${stockList}" th:if="${ stockList != null}">
                                <td class="product-des product-name">
                                    <h6><a class="mb-10" style="color: black" th:href="@{/pharm/stockDetailView(stockCode=${s.stockCode},mediCode=${s.mediCode})}" th:text="${s.medicine.mediName}"></a></h6>
                                </td>
                                <td class="price" data-title="Price">
                                    <h6 th:text="${s.pharQty + '개'}"></h6>
                                </td>
                                <td class="text-center detail-info" data-title="Stock">
                                    <span  th:text="${s.stockChecked}"></span>
                                </td>
                                <td class="text-center detail-info" data-title="Stock">
                                    <div class="detail-extralink mr-15" th:text="${s.lastDate}">

                                    </div>
                                </td>
                                <td class="text-right" data-title="Cart">
                                    <a class="btn btn-sm" th:href="@{/pharm/myStockRelease(stockCode=${s.stockCode},mediName=${s.medicine.mediName})}">출고</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </main>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('.stockChecked').each(function(){
            const value = $(this).text();
            if(value == '조사함'){
                $(this).addClass('in-stock');
            } else{
                $(this).addClass('out-stock')
            }
        });

    </script>
</th:block>
</html>