<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>
    <title th:text="${title}"></title>
</head>

<th:block layout:fragment="customContent">

    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10" th:text="${content}"></h1>
                <div class="d-flex justify-content-between">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                        <tr class="main-heading">
                            <th scope="col" class="start pl-30">상품이름</th>
                            <th scope="col">가격</th>
                            <th scope="col" style="text-align: center">출고량</th>
                            <th scope="col">출고가격</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="pt-30">
                            <td class="product-des product-name pl-30">
                                <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="#">Field Roast Chao Cheese Creamy Original</a></h6>
                            </td>
                            <td class="price" data-title="Price">
                                <h4 class="text-body">2500원 </h4>
                            </td>
                            <td class="text-center detail-info" data-title="Stock">
                                <div class="detail-extralink mr-15">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <input type="text" name="quantity" class="qty-val" value="1" min="1">
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                </div>
                            </td>
                            <td class="price" data-title="Price">
                                <h4 class="text-brand">2500원</h4>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a class="btn" th:href="@{/pharm/myStockSearchList}"><i class="fi-rs-arrow-left mr-10"></i>출고 취소</a>
                    <a class="btn  mr-10 mb-sm-15">출고 등록</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
</th:block>
</html>





