<!DOCTYPE html>
<html layout:decorate="~{admin/layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">문의 등록</h2>
            </div>
        </div>
        <div class="card mb-4">
            <!-- card-header end// -->
            <div class="card-body">
                <form id="addQnaForm" method="post" th:action="@{/admin/qna/add}">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input class="form-control" id="title" name="title" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea class="form-control" id="content" name="content" required rows="4"></textarea>


                    </div>
                    <div class="form-group">
                        <label for="mId">작성자</label>
                        <input class="form-control" id="mId" name="mId" readonly th:value="${session.S_ID}"/>
                        <input hidden="hidden" id="rep" name="rep" value="답변대기중">

                    </div>
                    <button class="btn btn-primary mt-3" type="submit">등록</button>
                </form>
                <!-- table-responsive//end -->
            </div>
            <!-- card-body end// -->
        </div>

    </section>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">

    </script>
</th:block>
</html>