<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>

</head>

<th:block layout:fragment="customContent">
<main class="main">
    <div class="container mb-30 mt-50">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <div class="mb-50">
                    <h1 class="heading-2 mb-10" style="font-family: 'Pretendard-Regular';">나의 주문 내역입니다.</h1>
                    <h6 class="text-body" style="font-family: 'Pretendard-Regular';">총 <span class="text-brand">9</span> 건의 내역이 있습니다.</h6>

                </div>

                <div class="table-responsive shopping-summery">
                    <div class="table-wishlist" style="font-family: 'Pretendard-Regular'">
                    <table class="table table-wishlist">
                        <thead >
                        <tr class="main-heading text-center">
                            <th scope="col">주문번호</th>
                            <th scope="col">총 주문 금액</th>
                            <th scope="col">주문일자</th>
                            <th scope="col">주문상태</th>
                            <th scope="col" class="end">상세보기</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr class="pt-30" th:each="o : ${orderList}" th:if="${orderList != null}">
                            <td class="product text-center">
                                <h6><a class="product-name mb-10" th:text="${o.OCode}"></a></h6>
                            </td>
                            <td class="price text-center" data-title="Price">
                                <h5 class="text-brand" th:text="${o.orderTotalPrice + ' 원'}"> 원</h5>
                            </td>
                            <td class="text-center detail-info" data-title="Stock" th:text="${o.purchaseDate}">
                                <p>2024/06/01</p>
                            </td>
                            <td class="text-right text-center" data-title="Cart" th:text="${o.purchaseState}">
                                <h5 class="text-red">결제대기</h5>
                            </td>
                            <td class="action text-center" data-title="Remove">
                                <a class="btn btn-sm" style="background-color: rgba(0,0,0,0.86); font-family: 'Pretendard-Regular'; border-radius: 15px;" th:href="@{/pharm/myOrderDetailView(oCode=${o.OCode})}" >상세</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
</th:block>
</html>



