<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>

</head>

<th:block layout:fragment="customContent">
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column font-1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>대시보드</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>주문</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>배송</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>약국정보</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>계정</a>
                                    </li>
                                        <li class="nav-item">
                                                <a class="nav-link" th:href="@{/logout}"><i class="fi-rs-sign-out mr-10"></i>로그아웃</a>
                                        </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0 font-1">안녕하세요. <mark th:text="${session.S_NAME}"></mark> 님. </h3>
                                        </div>
                                        <div class="card-body">
                                            <p>
                                                계정 대시보드에서 <a href="#">최근 주문을</a> 확인하고, <br>
                                                <a href="#">배송과 결제를 </a>관리하고, <a href="#">계정 정보를 편집</a> 할 수 있어요.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <main class="main">
                                                    <div class="container mb-30 mt-50" >
                                                        <div class="row">
                                                            <div class="col-xl-10 col-lg-12 m-auto">
                                                                <div class="mb-50">
                                                                    <h1 class="heading-2 mb-10" style="font-family: 'Pretendard-Regular';">나의 주문 내역입니다.</h1>
                                                                    <h6 class="text-body" style="font-family: 'Pretendard-Regular';" >총 <span class="text-brand"th:text="${orderListSize}"></span> 건의 내역이 있습니다.</h6>

                                                                </div>

                                                                <div class="table-responsive shopping-summery">
                                                                    <div class="table-wishlist" style="font-family: 'Pretendard-Regular'">
                                                                        <table class="table table-wishlist">
                                                                            <thead >
                                                                            <tr class="main-heading text-center">
                                                                                <th scope="col">주문번호</th>
                                                                                <th scope="col">총 주문 금액</th>
                                                                                <th scope="col">주문일자</th>
                                                                                <th scope="col">주문상태</th>
                                                                                <th scope="col" class="end">상세보기</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody >
                                                                            <tr class="pt-30" th:each="o : ${orderList}" th:if="${orderList != null}">
                                                                                <td class="product text-center">
                                                                                    <h6><a class="product-name mb-10" th:text="${o.OCode}"></a></h6>
                                                                                </td>
                                                                                <td class="price text-center" data-title="Price">
                                                                                    <h5 class="text-brand" th:text="${o.orderTotalPrice + ' 원'}"> 원</h5>
                                                                                </td>
                                                                                <td class="text-center detail-info" data-title="Stock" th:text="${o.purchaseDate}">
                                                                                    <p>2024/06/01</p>
                                                                                </td>
                                                                                <td class="text-right text-center" data-title="Cart" th:text="${o.purchaseState}">
                                                                                    <h5 class="text-red">결제대기</h5>
                                                                                </td>
                                                                                <td class="action text-center" data-title="Remove">
                                                                                    <a class="btn btn-sm" style="background-color: rgba(0,0,0,0.86); font-family: 'Pretendard-Regular'; border-radius: 15px;" th:href="@{/pharm/myOrderDetailView(oCode=${o.OCode})}" >상세</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </main>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Orders tracking</h3>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Order ID</label>
                                                            <input name="order-id" placeholder="Found in your order confirmation email" type="text">
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Billing email</label>
                                                            <input name="billing-email" placeholder="Email you used during checkout" type="email">
                                                        </div>
                                                        <button class="submit submit-auto-width" type="submit">Track</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h3 class="mb-0">약국 정보</h3>
                                                </div>
                                                <div class="card-body">
                                                    <!-- 여기에 약국 정보  -->
                                                    <div class="col-md-9">
                                                        <div class="mb-4">
                                                            <label class="form-label fs-6" for="pName">약국이름</label>
                                                            <input type="text"   name="pName"  id="pName" class="form-control w-50" th:value="${pharmacy.PName}" readonly>
                                                        </div>
                                                        <div class="mb-4">
                                                            <label class="form-label fs-6" for="businNum">약국사업자번호</label>
                                                            <input type="text"   name="businNum"  id="businNum" class="form-control w-50" th:value="${pharmacy.businNum}" readonly>
                                                        </div>
                                                        <div >
                                                            <div class="mb-4 d-flex">
                                                                <label class="form-label mr-30 fs-6" >약국주소</label>
                                                            </div>
                                                            <input class="form-control mb-3 w-50" type="text" name="pPostCode" id="pPostCode" th:value="${pharmacy.PPostCode}" readonly/>
                                                            <input class="form-control mb-3" type="text" name="targetPharAddr" id="targetPharAddr" th:value="${pharmacy.PAddrDo} +' '+${pharmacy.PAddrSi}+' '+${pharmacy.PAddrDong}" readonly />
                                                            <input class="form-control mb-3" type="text" name="targetPharAddrDetail" id="targetPharAddrDetail" th:value="${pharmacy.PAddr}" readonly/>
                                                            <input type="hidden" name="pAddrDo" id="pAddrDo" />
                                                            <input type="hidden" name="pAddrSi" id="pAddrSi" />
                                                            <input type="hidden" name="pAddrDong" id="pAddrDong" />
                                                            <input type="hidden" name="pAddr" id="pAddr" />
                                                        </div>
                                                        <div class="mb-4">
                                                            <label class="form-label fs-6" for="openDate">약국개업일자</label>
                                                            <input type="date"  name="openDate"  id="openDate" class="form-control w-50" th:value="${pharmacy.openDate}" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 th:text="${content}"></h5>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="@{/pharm/myPage/myAccountModify}" method="post" name="enq">
                                                <div class="form-group mb-4 w-25">
                                                    <label for="memberId">회원아이디</label>
                                                    <input type="text" name="memberId" id="memberId" style="height: 50px" readonly th:value="${session.S_ID}" >
                                                    <input type="hidden" name="memberLevelNum" id="memberLevelNum" th:value="${member.memberLevelNum}" />
                                                    <input type="hidden" name="memberLevelName" id="memberLevelName" th:value="${member.memberLevelName}" />
                                                </div>
                                                <div class="form-group mb-4 w-25">
                                                    <label for="memberName">회원이름</label>
                                                    <input type="text" name="memberName" id="memberName" style="height: 50px" th:value="${member.memberName}" >
                                                </div>
                                                <div class="form-group mb-4 w-25">
                                                    <label class="mr-30" for="memberGender">성별</label>
                                                    <input type="text" style="height: 50px" id="MemberGender" name="memberGender" required th:value="${member.memberGender}">
                                                </div>
                                                <div class="form-group mb-4 w-50 ">
                                                    <label for="memberPostCode">우편번호</label>
                                                    <input style="height: 50px" type="text" name="memberPostCode" id="memberPostCode" th:value="${member.memberPostCode}">
                                                </div>
                                                <div class="form-group mb-4 w-50 ">
                                                    <label for="memberAddrSido">시/도</label>
                                                    <input style="height: 50px" type="text" name="memberAddrSido" id="memberAddrSido" th:value="${member.memberAddrSido}">
                                                </div>
                                                <div class="form-group mb-4 w-50 ">
                                                    <label for="memberAddrSigungu">시/군/구</label>
                                                    <input style="height: 50px" type="text" name="memberAddrSigungu" id="memberAddrSigungu" th:value="${member.memberAddrSigungu}"/>
                                                </div>
                                                <div class="form-group mb-4 w-50 ">
                                                    <label for="memberAddrDong">동</label>
                                                    <input style="height: 50px" type="text" name="memberAddrDong" id="memberAddrDong" th:value="${member.memberAddrDong}"/>
                                                </div>
                                                <div class="form-group mb-4 w-50 ">
                                                    <label for="memberAddr">상세주소</label>
                                                    <input style="height: 50px" type="text" name="memberAddr" id="memberAddr" th:value="${member.memberAddr}"/>
                                                </div>
                                                <div class="form-group mb-4 w-50">
                                                    <label for="memberEmail">이메일</label>
                                                    <input style="height: 50px" type="text"  name="memberEmail" id="memberEmail"  th:value="${member.memberEmail}"/>
                                                </div>
                                                <div class="form-group mb-4 w-25">
                                                    <label for="memberBirth">생년월일</label>
                                                    <input style="height: 50px" type="date"  name="memberBirth" id="memberBirth" th:value="${member.memberBirth}"/>
                                                </div>
                                                <div class="form-group mb-4 w-25">
                                                    <label for="memberPhone">핸드폰번호</label>
                                                    <input type="text"  name="memberPhone" id="memberPhone" style="height: 50px" th:value="${member.memberPhone}"/>
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3">변경내용 저장하기</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="customJsFile">

</th:block>

<th:block layout:fragment="customJs">

</th:block>

</html>



