<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        class="js sizes websockets customelements history postmessage webworkers picture pointerevents webanimations webgl srcset flexbox cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside" lang="en">
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resource/user/assets/imgs/theme/favicon.svg}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/resource/user/assets/css/main.css?v=5.6}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/resource/user/assets/css/footer.css}" />
</head>

<body style="overflow: visible;"><div class="body-overlay-1"></div>


<!--End header-->
<main class="main pages">
    <div style="height: 70px;">
        <div class="logo logo-width-1">
            <img th:src="@{/resource/logo/logo_pink.png}" class="logo" style="width: 10rem; margin: 15px" alt="Nest Dashboard" />
        </div>
    </div>

    <div class="page-content pt-150 pb-150 indexBackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row align-items-center">
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <div class="guide-banner">
                                <div class="list-banner-box">
                                    <div class="logo logo-width-1 mb-3 regForm hover-up" th:onclick="|location.href='@{/member/memberInsert/owner}'|">
                                        <div class="img-box">
                                            <img th:src="@{/resource/logo/national.png}" alt="개국약사 image">
                                        </div>
                                        <div class="text-box">
                                            <span class="name-text">개국약사 회원가입</span>
                                            <span class="introduce-text">약국을 직접 운영하시는 약사님</span>
                                        </div>
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                    <div class="logo logo-width-1 mb-3 regForm hover-up" th:onclick="|location.href='@{/member/memberInsert/staff}'|" >
                                        <div class="img-box">
                                            <img th:src="@{/resource/logo/management.png}" alt="관리약사 image">
                                        </div>
                                        <div class="text-box">
                                            <span class="name-text">관리약사 회원가입</span>
                                            <span class="introduce-text">약국, 병원, 회사 등에서 근무 중이신 약사님</span>
                                        </div>
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white" >
                                <div class="padding_eight_all bg-white" style="padding: 23px; border-radius: 25px; font-family: 'Pretendard-Regular';">

                                    <form th:action="@{/login}" method="post">
                                        <input type="hidden" th:value="secret" name="secret_key" />
                                        <div class="form-group">
                                            <input type="text"  name="memberId" id="memberId" placeholder="회원아이디를 입력하세요. *" value="id006">
                                        </div>
                                        <div class="form-group">
                                            <input  type="password" name="memberPw" id="memberPw" placeholder="비밀번호를 입력하세요 *" value="pw006">
                                        </div>

                                        <div class="login_footer form-group mb-50">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                    <label class="form-check-label" for="exampleCheckbox1"><span>아이디저장</span></label>
                                                </div>
                                            </div>
                                            <a class="text-muted" href="#">비밀번호를 잊었나요?</a>
                                        </div>

                                        <div class="form-group" th:if="${error}">
                                            <label class="form-label text-danger" th:text="${exception}"></label>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-heading btn-block" id="indexLoginBtn" name="login" style="width: 100%; background: rgb(255,140,159); font-family: 'Pretendard-Regular'; border-radius: 15px; font-size: 20px; font-weight: 600"
                                                    type="submit">로그인</button>
                                        </div>
                                        ※ 아래 버튼은 테스트용 입니다.
                                        <div style="display: flex">
                                            <a  class="shortCut hover-up" data-login-id="admin" data-login-pw="admin1234"><i class="bi bi-wrench"></i> 관리자 로그인</a>
                                            <a  class="shortCut hover-up" data-login-id="id007" data-login-pw="pw007"><i class="bi bi-capsule"></i> 약사 로그인</a>
                                            <a  class="shortCut hover-up" data-login-id="id001" data-login-pw="pw001"><i class="bi bi-truck"></i> 납품업체 로그인</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="padding_eight_all mt-3 hover-up" onclick="location.href='https://forms.gle/1VRReEqFk24heS8q8';" style="padding: 23px; border-radius: 25px; background-color: rgba(13,110,253,0.76); cursor:pointer">
                                    <h5 style="color: white">파트너 제휴문의 > </h5>
                                    <p style="color: white">약수터와 함께 전문 약사님을 만나보세요.<i class="fs-5">🤝</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{user/pharmacy/fragments/footer :: footerFragment}"></div>

</main>

<!-- Preloader Start -->
<div id="preloader-active" style="display: none;">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <img th:src="@{/resource/user/assets/imgs/theme/loading.gif}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Vendor JS-->
<script th:src="@{/resource/user/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/resource/user/assets/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/resource/user/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/resource/user/assets/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/slick.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/wow.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/select2.min.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/waypoints.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/counterup.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/images-loaded.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/isotope.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/scrollup.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/jquery.theia.sticky.js}"></script>
<script th:src="@{/resource/user/assets/js/plugins/jquery.elevatezoom.js}"></script>
<!-- Template  JS -->
<script th:src="@{/resource/user/assets/js/main.js?v=5.6}"></script><a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="fi-rs-arrow-small-up"></i></a>
<script th:src="@{/resource/user/assets/js/shop.js?v=5.6}"></script>

<script>
    $('.shortCut').click(e => {
        e.preventDefault();
        const target = e.target;
        const $loginForm = $('<form></form>');
        const $memberId = $('<input />', {name: 'memberId', value: $(target).data('loginId')});
        const $memberPw = $('<input />', {name: 'memberPw', value: $(target).data('loginPw')});
        const $secret = $('<input />', {name: 'secret_key', value: $('input[name="secret_key"]').val()});
        $loginForm.attr('action', '/login');
        $loginForm.attr('method', 'post');
        $loginForm.append($memberId, $memberPw, $secret);
        $('body').append($loginForm);
        $loginForm.submit();
    });

</script>

</body>
</html>