<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
    <title th:text="${title}"></title>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title" th:text="${content}"></h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="float-end">
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">돌아가기</button>
                            <button class="btn btn-md rounded font-sm hover-up">장바구니에 추가</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-4">
                                        <label for="pharmCode" class="form-label">약국코드</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="pharmCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="form-label col-lg-4">판매상품 코드</label>
                                <label class="form-label col-lg-4">갯수</label>
                                <label class="form-label col-lg-4">추가</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 mb-4">
                                    <input placeholder="$" name="goodsCode" type="text" class="form-control" />
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <input placeholder="$" name="qty" type="text" class="form-control" />
                                </div>
                                <div class="col-lg-4 mb-4">
                                    <button type="button" class="btn btn-md rounded font-sm hover-up goodsAddBtn">추가</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- card end// -->
            </div>
        </div>
    </section>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#resetBtn').click(e => {
            e.preventDefault();
            location.href = '/admin/adminMain';
        });

        $('#submitBtn').click(function(){
            let isSubmit = true;
            $('#addMedicine input, #addMedicine select').each((idx, element) => {
                const id = element.id;
                const value = element.value;
                if(!value){
                    alert(`${id}는(은) 필수 입력 항목입니다`);
                    $(element.focus());
                    isSubmit = false;
                    return false;
                }
            });
            if(isSubmit) $('#addMedicine').submit();
        });

        const createGoodsRow = () => {
            const goodsContent = [
                { 'tagName' : 'input', 'type' : 'text', 'name' : 'goodsCode' },
                { 'tagName' : 'input', 'type' : 'text', 'name' : 'qty' },
                { 'tagName' : 'button', 'type' : 'button' }
            ];
            const $div = $('<div></div>');
            $div.addClass('row');
            goodsContent.forEach(item => {
                const $innerDiv = $('<div></div>');
                $innerDiv.addClass('col-lg-4 mb-4');
                const tagName = item.tagName;
                delete item.tagName;
                const $element = $('<' + tagName + ' />', item);
                $innerDiv.append($element);
                $div.append($innerDiv);
            });
            return $div;
        }
        // 3. 행의 추가 버튼
        $(document).on('click', '.goodsAddBtn', function(){
            $('form button:last').addClass('goodsDelBtn')
                .removeClass('goodsAddBtn')
                .text('삭제');
            const $row = createGoodsRow();
            $row.find('input').addClass('form-control');
            $row.find('button').addClass('btn btn-md rounded font-sm hover-up goodsAddBtn')
                .text('추가');
            $('form').append($row);
        });
        // 4. 행의 삭제 버튼
        $(document).on('click', '.goodsDelBtn', function(){
            $(this).closest('div.row').remove();
        });
    </script>
</th:block>
</html>