<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">커뮤니티</h2>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                            <th class="text-center">수정/삭제</th>
                        </tr>
                        </thead>
                        <tbody th:if="${boardList != null}" th:each="b : ${boardList}">
                        <tr>
                            <td th:text="${b.boardCode}"></td>
                            <td><b th:text="${b.boardTitle}"></b></td>
                            <td th:text="${b.boardContent}"></td>
                            <td th:text="${b.mId}"></td>
                            <td th:text="${b.boardDate}"></td>
                            <td class="text-end">
                                <a href="#" class="btn btn-md rounded font-sm">수정</a>
                                <a href="#" class="btn btn-md rounded font-sm">삭제</a>
                                <!-- dropdown //end -->
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- table-responsive//end -->
            </div>
            <!-- card-body end// -->
        </div>
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<img src="../../../../../../../../AppData/Local/Temp/cake2.png"/>
<th:block layout:fragment="customJs">
    <script th:inline="javascript">

    </script>
</th:block>
</html>