<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team01.yaksutor.pharmacy.mapper.PhBoardMapper">
    <resultMap type="Board" id="boardResultMap">
        <id column="cm_num" 			property="boardCode" />
        <result column="m_id" 		property="mId"/>
        <result column="cm_title" 		property="boardTitle"/>
        <result column="cm_content" 		property="boardContent"/>
        <result column="cm_date" 	property="boardDate"/>
    </resultMap>


    <select id="getBoardList" resultMap="boardResultMap">
        /* 게시판 목록 */
        SELECT
            cm_num,
            m_id,
            cm_title,
            cm_content,
            cm_date
        FROM
            community;
    </select>



    <resultMap type="QuestionCenter" id="questionCenterResultMap">

        <id column="question_num" 			property="questionNum" />
        <result column="m_id" 			property="mId" />
        <result column="question_title" 		property="questionTitle"/>
        <result column="question_content" 		property="questionContent"/>
        <result column="question_date" 	property="questionDate"/>
    </resultMap>


    <select id="getQuestionCenterList" resultMap="questionCenterResultMap">
        /* 게시판 목록 */
        SELECT
            question_num,
            m_id,
            question_title,
            question_content,
            question_date
        FROM
            question_center;
    </select>



    <!--등록-->
    <insert id="addQuestionCenter" parameterType="QuestionCenter">
        <selectKey keyProperty="questionNum" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(question_num) = 0 THEN 'ques_1'
            ELSE
            CONCAT(
            'ques_',
            MAX(CAST(SUBSTRING_INDEX(question_num, 'ques_', -1) AS UNSIGNED)) +1)
            END AS questionNum
            FROM
            question_center;
        </selectKey>

        /* 등록 */
        INSERT INTO question_center
        (question_num, m_id, question_title, question_content, question_date)
        values
        (#{questionNum}, #{mId}, #{questionTitle}, #{questionContent}, CURDATE());

    </insert>


    <!-- 삭제 -->
    <delete id="removeQuestionCenterByNum" parameterType="String">
        /*  삭제 */
        DELETE
        FROM
            question_center
        WHERE
            question_num = #{questionNum};
    </delete>
</mapper>