<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team01.yaksutor.pharmacy.mapper.PhBoardMapper">


    <!-- =================커뮤니티==========================-->

    <!--커뮤니티 조회-->
    <resultMap type="Board" id="boardResultMap">
        <id column="cm_num" 			property="boardCode" />
        <result column="m_id" 		property="mId"/>
        <result column="cm_title" 		property="boardTitle"/>
        <result column="cm_content" 		property="boardContent"/>
        <result column="cm_view" 		property="boardView"/>
        <result column="cm_date" 	property="boardDate"/>
        <result column="replSize" 	property="replSize"/>
    </resultMap>

    <select id="getBoardList" resultMap="boardResultMap">
        SELECT
            c.cm_num,
            c.m_id,
            c.cm_title,
            c.cm_content,
            c.cm_view,
            c.cm_date,
            (
            SELECT COUNT(1) FROM repl AS r WHERE c.cm_num = r.cm_num
            ) AS replSize
        FROM
            community AS c
        order by c.cm_date desc;
    </select>
    <!--커뮤니티 등록-->
    <insert id="addBoard" parameterType="Board">
        <selectKey keyProperty="boardCode" resultType="String" order="BEFORE">
            SELECT
                CASE
                WHEN COUNT(cm_num) = 0 THEN 'comm_1'
                ELSE
                CONCAT(
                'comm_',
                MAX(CAST(SUBSTRING_INDEX(cm_num, 'comm_', -1) AS UNSIGNED)) +1)
                END AS boardCode
            FROM
                community;
        </selectKey>
        INSERT INTO community
            (cm_num, m_id, cm_title, cm_content, cm_view, cm_date)
        values
            (#{boardCode}, #{mId}, #{boardTitle}, #{boardContent},#{boardView}, CURDATE());
    </insert>

    <!--커뮤니티 수정-->
    <update id="modifyBoard" parameterType="Board">
        UPDATE community
        <set>
            <if test="boardTitle != null and boardTitle != ''">
                cm_title = #{boardTitle},
            </if>
            <if test="boardContent != null and boardContent != ''">
                cm_content = #{boardContent},
            </if>
        </set>
        WHERE
        cm_num = #{boardCode}
    </update>

    <!--커뮤니티 삭제-->
    <delete id="deleteBoard" parameterType="String">
        DELETE FROM community
        WHERE cm_num = #{boardCode}
    </delete>

    <!-- =================커뮤니티 댓글==========================-->

    <!--커뮤니티 댓글 조회-->
    <resultMap type="Repl" id="replResultMap">
        <id column="repl_num" 			property="replNum" />
        <result column="m_id" 		property="mId"/>
        <result column="cm_num" 		property="cmNum"/>
        <result column="repl_content" 		property="replContent"/>
        <result column="repl_date" 	property="replDate"/>
    </resultMap>
    <select id="getReplList" resultMap="replResultMap">
        SELECT
            r.repl_num,
            r.m_id,
            r.cm_num,
            r.repl_content,
            r.repl_date
        FROM
            repl AS r;
    </select>
    <!--커뮤니티 댓글 등록-->
    <insert id="addRepl" parameterType="Repl">
        <selectKey keyProperty="replNum" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(repl_num) = 0 THEN 'repl_num_1'
            ELSE
            CONCAT(
            'repl_num_',
            MAX(CAST(SUBSTRING_INDEX(repl_num, 'repl_num_', -1) AS UNSIGNED)) +1)
            END AS replNum
            FROM
            repl;
        </selectKey>
        INSERT INTO repl
        (repl_num, m_id, cm_num, repl_content, repl_date)
        values
        (#{replNum}, #{mId}, #{cmNum}, #{replContent}, CURDATE());
    </insert>
    <!--커뮤니티 댓글 수정-->
    <update id="modifyRepl" parameterType="Repl">
        UPDATE repl
        <set>
            <if test="replContent != null and replContent != ''">
                repl_content = #{replContent},
            </if>
        </set>
        WHERE
        repl_num = #{replNum}
    </update>

    <!--커뮤니티 댓글 삭제-->
    <delete id="deleteRepl" parameterType="String">
        DELETE FROM repl
        WHERE repl_num = #{replNum}
    </delete>
    <!-- =================자주하는 질문==========================-->

    <!--자주하는 질문 조회-->
    <resultMap type="QuestionCenter" id="questionCenterResultMap">

        <id column="question_num" 			property="questionNum" />
        <result column="m_id" 			property="mId" />
        <result column="question_title" 		property="questionTitle"/>
        <result column="question_content" 		property="questionContent"/>
        <result column="question_date" 	property="questionDate"/>
    </resultMap>


    <select id="getQuestionCenterList" resultMap="questionCenterResultMap">
        SELECT
            question_num,
            m_id,
            question_title,
            question_content,
            question_date
        FROM
            question_center;
    </select>
    <!--자주하는 질문 등록-->
    <insert id="addQuestionCenter" parameterType="QuestionCenter">
        <selectKey keyProperty="questionNum" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(question_num) = 0 THEN 'ques_1'
            ELSE
            CONCAT(
            'ques_',
            MAX(CAST(SUBSTRING_INDEX(question_num, 'ques_', -1) AS UNSIGNED)) +1)
            END AS questionNum
            FROM
            question_center;
        </selectKey>
        INSERT INTO question_center
        (question_num, m_id, question_title, question_content, question_date)
        values
        (#{questionNum}, #{mId}, #{questionTitle}, #{questionContent}, CURDATE());
    </insert>
    <!--자주하는 질문 수정-->
    <update id="modifyQuestionCenter" parameterType="QuestionCenter">
        UPDATE question_center
        <set>
            <if test="questionTitle != null and questionTitle != ''">
                question_title = #{questionTitle},
            </if>
            <if test="questionContent != null and questionContent != ''">
                question_content = #{questionContent},
            </if>
        </set>
        WHERE
        question_num = #{questionNum}
    </update>
    <!--자주하는 질문 삭제-->
    <delete id="deleteQuestionCenter" parameterType="String">
        DELETE FROM question_center
        WHERE  question_num = #{questionNum}
    </delete>


    <!-- =================공지사항==========================-->
    <!--공지사항 조회-->
    <resultMap type="Notice" id="noticeResultMap">
        <id column="notice_num" 			property="noticeNum" />
        <result column="m_id" 		property="mId"/>
        <result column="notice_title" 		property="noticeTitle"/>
        <result column="notice_content" 		property="noticeContent"/>
        <result column="notice_view" 	property="noticeView"/>
        <result column="notice_date" 	property="noticeDate"/>
    </resultMap>

    <select id="getNoticeList" resultMap="noticeResultMap">
        SELECT
            notice_num,
            m_id,
            notice_title,
            notice_content,
            notice_view,
            notice_date
        FROM
            notice_center;
    </select>
    <insert id="addNotice" parameterType="Notice">
        <selectKey keyProperty="noticeNum" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(notice_num) = 0 THEN 'noti_1'
            ELSE
            CONCAT(
            'noti_',
            MAX(CAST(SUBSTRING_INDEX(notice_num, 'noti_', -1) AS UNSIGNED)) +1)
            END AS noticeNum
            FROM
            notice_center;
        </selectKey>

        /* 등록 */
        INSERT INTO notice_center
        (notice_num, m_id, notice_title, notice_content, notice_view, notice_date)
        values
        (#{noticeNum}, #{mId}, #{noticeTitle}, #{noticeContent}, #{noticeView}, CURDATE());

    </insert>
    <!--공지사항 수정-->
    <update id="modifyNotice" parameterType="Notice">
        UPDATE notice_center
        <set>
            <if test="noticeTitle != null and noticeTitle != ''">
                notice_title = #{noticeTitle},
            </if>
            <if test="noticeContent != null and noticeContent != ''">
                notice_content = #{noticeContent},
            </if>
        </set>
        WHERE
        notice_num = #{noticeNum}
    </update>
    <!--공지사항 삭제-->
    <delete id="deleteNotice" parameterType="String">
        DELETE FROM notice_center
        WHERE  notice_num = #{noticeNum}
    </delete>

    <!-- =================1:1문의==========================-->
    <!--문의 조회-->
    <resultMap type="Qna" id="qnaResultMap">
        <id column="qseq" 			property="qseq" />
        <result column="m_id" 		property="mId"/>
        <result column="title" 		property="title"/>
        <result column="content" 		property="content"/>
        <result column="rep" 	property="rep"/>
        <result column="indate" 	property="indate"/>
    </resultMap>



    <select id="getQnaList" resultMap="qnaResultMap">
        SELECT
            *
        FROM
        qna;
    </select>

    <!--등록-->
     <insert id="addQna" parameterType="Qna">
        <selectKey keyProperty="qseq" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(qseq) = 0 THEN 'qseq_1'
            ELSE
            CONCAT(
            'qseq_',
            MAX(CAST(SUBSTRING_INDEX(qseq, 'qseq_', -1) AS UNSIGNED)) +1)
            END AS qseq
            FROM
            qna;
        </selectKey>
        INSERT INTO qna
        (qseq, m_id, title, content, rep, indate)
        values
        (#{qseq}, #{mId}, #{title}, #{content}, #{rep}, CURDATE());

    </insert>

    <!--문의 삭제-->
    <delete id="deleteQna" parameterType="String">
        DELETE FROM qna
        WHERE  qseq = #{qseq}
    </delete>

    <resultMap type="QnaReply" id="qnaReplyResultMap">
        <id column="qr_seq" 			property="qrSeq" />
        <result column="qseq" 		property="qseq"/>
        <result column="responder" 		property="responder"/>
        <result column="title" 		property="title"/>
        <result column="content" 	property="content"/>
        <result column="outdate" 	property="outdate"/>
    </resultMap>

    <select id="getQnaReplyList" resultMap="qnaReplyResultMap">
        SELECT
        *
        FROM
        qna_reply;
    </select>
    <!--등록-->
    <insert id="addQnaReply" parameterType="QnaReply">
        <selectKey keyProperty="qrSeq" resultType="String" order="BEFORE">
            SELECT
            CASE
            WHEN COUNT(qr_seq) = 0 THEN 'qr_seq_1'
            ELSE
            CONCAT(
            'qr_seq_',
            MAX(CAST(SUBSTRING_INDEX(qr_seq, 'qr_seq_', -1) AS UNSIGNED)) +1)
            END AS qrSeq
            FROM
            qna_reply;
        </selectKey>
        INSERT INTO qna_reply
        (qr_seq, qseq, responder, title, content, outdate)
        values
        (#{qrSeq}, #{qseq}, #{responder}, #{title}, #{content}, CURDATE());
        

    </insert>
    <update id="updateQna" parameterType="string">
    UPDATE
        qna
    SET
        rep='완료'
    WHERE qseq = #{qseq}
    </update>
    

    <!--문의 답변 삭제-->
    <delete id="deleteQnaReply" parameterType="String">
        DELETE FROM qna_reply
        WHERE  qr_seq = #{qrSeq}
    </delete>

    <!-- 문의글 기본키로 문의&답글조회  -->
    <select id="getQnaListByKey" parameterType="String" resultType="String">
        SELECT
        qr.qr_seq As qrSeq
        FROM qna AS q
        INNER JOIN
        qna_reply AS qr
        ON
        q.qseq = qr.qseq
        WHERE
        q.qseq = #{qseq}
    </select>
</mapper>