<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/pharmacy/layout/default}">
<head>

</head>

<th:block layout:fragment="customContent">
      <main class="main" style="transform: none;">
            <div class="container mb-30" style="transform: none;">
            <div class="archive-header-2 text-center pt-80 pb-50">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="sidebar-widget-2 widget_search mb-50">
                            <div class="search-form">
                                <form action="#">
                                    <input placeholder="의약품명, 효능, 제조사 등을 입력하세요." type="text">
                                    <button type="submit"><i class="fi-rs-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse font-1" style="transform: none;">

                <div class="col-lg-4-5">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>현재 <mark th:each="s, i : ${sellMedicineList}"
                                       th:if="${i.index} < 1"
                                       th:text="${i.size}"></mark> 개의 약품이 등록되어 있어요.</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i>💊</i></span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 전체 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">전체</a></li>
                                        <li><a href="#">일반의약품</a></li>
                                        <li><a href="#">전문의약품</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="bi-filter" style="font-size: 19px; color: black"></i></span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>최근등록순 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">최근등록순</a></li>
                                        <li><a href="#">인기순</a></li>
                                        <li><a href="#">낮은가격순</a></li>
                                        <li><a href="#">높은가격순</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-wishlist">
                        <tbody>
                        <tr class="pt-30" th:each="s : ${sellMedicineList}" th:if="${sellMedicineList != null}">
                            <td class="image product-thumbnail pt-40 pl-30"><img th:src="${s.filePath}" /></td>
                            <td class="product-des product-name">
                                <h6><a class="mb-10" style="color: black" th:text="${s.mediName}"></a></h6>
                                <span style="color: gray" th:text="${s.mediDetail}"></span>
                            </td>
                            <td class="text-center detail-info" data-title="Stock">
                                <span class="stock-status in-stock mb-0" th:text="${s.state}"></span>
                            </td>
                            <td th:text="'남은수량: ' + ${s.regQty}"></td>
                            <td class="price" data-title="Price">
                                <h6 th:text="${s.mediPrice} + '원'"></h6>
                            </td>
                            <td class="text-center detail-info" data-title="Stock">
                                <div class="detail-extralink mr-15">
                                    <div class="detail-qty border radius" style="border: 2px solid black!important;">
                                        <a class="qty-down" href="#"><i class="fi-rs-angle-small-down"></i></a>
                                        <input class="qty-val" min="1" name="qty" th:max="${s.regQty}" type="text" value="0">
                                        <a class="qty-up" href="#"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                </div>
                            </td>

                            <td class="text-right" data-title="Cart">
                                <form id="addShoppingCartForm" method="post" th:action="@{/pharm/addCart}">
                                    <input id="goodsCode" name="goodsCode" th:value="${s.goodsCode}" type="hidden">
                                    <input id="oMId" name="oMId" th:value="${session.S_ID}" type="hidden">
                                    <input id="shoppingCartGroup" name="shoppingCartGroup" type="hidden" value="group1">
                                    <input  class="qty-val-hidden" hidden="hidden" min="1" name="qty" th:max="${s.regQty}" type="text" value="0">
                                    <button class="btn btn-sm" style="background-color: rgba(0,0,0,.8); border: none" type="submit">담기</button>
                                </form>
                            </td>
                        </tr>
                         </tbody>
                    </table>

                </div>
                <!-- 담기 완료 -->
                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                완료
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1-5 primary-sidebar sticky-sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">


                    <!-- Fillter By Price -->


                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                        <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none animated" style="visibility: visible;">
                            <img alt="" th:src="@{/resource/user/assets/imgs/ad-1.png}">
                            <div class="banner-text">
                            </div>
                        </div>
                        <div class="sidebar-widget widget-category-2 mb-30">
                        <h5 class="section-title style-1 mb-30">Category</h5>
                        <ul>
                            <li>
                                <a href="shop-grid-right.html"> <img alt="" th:src="@{/resource/user/assets/imgs/theme/icons/category-1.svg}">Milks &amp; Dairies</a><span class="count">28</span>
                            </li>
                            <li>
                                <a href="shop-grid-right.html"> <img alt="" th:src="@{/resource/user/assets/imgs/theme/icons/category-2.svg}">Clothing</a><span class="count">32</span>
                            </li>
                            <li>
                                <a href="shop-grid-right.html"> <img alt="" th:src="@{/resource/user/assets/imgs/theme/icons/category-3.svg}">Pet Foods </a><span class="count">38</span>
                            </li>
                            <li>
                                <a href="shop-grid-right.html"> <img alt="" th:src="@{/resource/user/assets/imgs/theme/icons/category-4.svg}">Baking material</a><span class="count">61</span>
                            </li>
                            <li>
                                <a href="shop-grid-right.html"> <img alt="" th:src="@{/resource/user/assets/imgs/theme/icons/category-5.svg}">Fresh Fruit</a><span class="count">77</span>
                            </li>
                        </ul>
                    </div>
                        <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none animated" style="visibility: visible;">
                        <img alt="" th:src="@{/resource/user/assets/imgs/ttt.jpg}">
                        <div class="banner-text">
                        </div>
                    </div></div></div>
            </div>
        </div>
    </main>

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script>
        document.querySelectorAll('.qty-val').forEach(function(externalInput) {
            externalInput.addEventListener('input', function() {
                var maxVal = parseInt(externalInput.getAttribute('max'), 10);
                if (parseInt(externalInput.value, 10) > maxVal) {
                    alert('최대 수량은 ' + maxVal + '입니다.');
                    externalInput.value = 1; // 초기화 값
                }
                // Find the corresponding hidden input inside the form
                var form = externalInput.closest('tr').querySelector('form');
                var hiddenInput = form.querySelector('.qty-val-hidden');
                hiddenInput.value = externalInput.value;
            });
        });

        // Additional code to handle the increment and decrement buttons
        document.querySelectorAll('.qty-up').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var input = button.closest('.detail-qty').querySelector('.qty-val');
                var maxVal = parseInt(input.getAttribute('max'), 10);
                if (parseInt(input.value, 10) < maxVal) {
                    input.value = parseInt(input.value) + 1;
                    input.dispatchEvent(new Event('input')); // Trigger the input event to sync values
                } else {
                    alert('최대 수량은 ' + maxVal + '입니다.');
                }
            });
        });

        document.querySelectorAll('.qty-down').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var input = button.closest('.detail-qty').querySelector('.qty-val');
                if (parseInt(input.value, 10) > 1) {
                    input.value = parseInt(input.value) - 1;
                    input.dispatchEvent(new Event('input')); // Trigger the input event to sync values
                }
            });
        });


    </script>
    <script th:inline="javascript">

    </script>
</th:block>
</html>