<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/supplier/layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title" th:text="${content}"></h2>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row" >
                    <div class="col-md-3">
                        <form>
                            <div class="mb-4" >
                                <div class="mb-4">
                                    <label for="product_slug" class="form-label">총 주문 금액</label>
                                    <input type="text"  class="form-control" th:value="${order.orderTotalPrice}" readonly/>
                                </div>
                                <label class="form-label">결제수단</label>
                                <!--<input type="text" placeholder="Type here" class="form-control" id="product_name" />-->
                                <input type="text" class="form-control" th:value="${order.paymentMethod}" readonly/>
                            </div>
                            <div class="mb-4">
                                <label for="product_slug" class="form-label">은행</label>
                                <input type="text"  class="form-control" id="product_slug" value="카카오뱅크" readonly/>
                            </div>
                            <div class="mb-4">
                                <label for="product_slug" class="form-label">결제상태</label>
                                <input type="text"  class="form-control" th:value="${order.purchaseState}" readonly/>
                            </div>
                            <div class="d-grid" th:if="${purchaseState}== '결제완료' ">
                                <label for="product_slug" class="form-label">송장번호입력</label>
                                <input type="text" class="form-control mb-4" />
                                <label for="product_slug" class="form-label">담당자이름</label>
                                <input type="text" class="form-control mb-4" />
                                <button type="button" class="btn btn-primary mb-4">배송시작</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr >
                                    <th class="text-center">
                                    </th>
                                    <th>판매의약품 코드</th>
                                    <th>의약품 이름</th>
                                    <th>주문 갯수</th>
                                    <th class="text-center">단가</th>
                                    <th class="text-center">합계금액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ol : ${orderList}">
                                    <td class="text-center">
                                    </td>
                                    <td th:text="${ol.sellMedicine.mediCode}"></td>
                                    <td ><b th:text="${ol.sellMedicine.mediName}"></b></td>
                                    <td th:text="${ol.orderDetail.orderQty}">Cake & Milk</td>
                                    <td class="text-center" th:text="${ol.sellMedicine.mediPrice}"></td>
                                    <td class="text-center" th:text="${ol.orderDetail.orderPrice}"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- .col// -->
                </div>
                <!-- .row // -->
            </div>
            <!-- card body .// -->
        </div>
        <!-- card .// -->
    </section>
    <!-- content-main end// -->

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        $('#resetBtn').click(e => {
            e.preventDefault();
            location.href = '/admin/adminMain';
        });

    </script>
</th:block>
</html>

