<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">
<head>
</head>

<th:block layout:fragment="customContent">
    <section class="content-main">
        <form id="addPharmacy" th:action="@{/admin/member/adPharmacyInsert}" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title" th:text="${content}">기존 관리약사 개국약사로 변경</h2>
                        <div>
                            <button id="resetBtn" class="btn btn-light rounded font-sm mr-5 text-body hover-up">등록 취소</button>
                            <button id="submitBtn" class="btn btn-md rounded font-sm hover-up" disabled>약국등록 및 개국약사로 전환</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="fs-5">1.회원정보입력</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label fs-6" for="memberId">회원아이디</label>
                                        <input type="text" placeholder="아이디를 입력해주세요" name="memberId" id="memberId" class="form-control w-50" >
                                        <span id="check-message" class="form-text"></span>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="fs-5">2. 약국정보입력</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label fs-6" for="pName">약국이름</label>
                                        <input type="text"  placeholder="약국이름을 입력해주세요" name="pName"  id="pName" class="form-control w-50">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label fs-6" for="businNum">약국사업자번호</label>
                                        <input type="text"  placeholder="사업자번호를 입력해주세요" name="businNum"  id="businNum" class="form-control w-50">
                                    </div>
                                    <div >
                                        <div class="mb-4 d-flex">
                                            <label class="form-label mr-30 fs-6" >약국주소입력</label>
                                            <button type="button" id="pAddrBtn" class="btn btn-md rounded font-sm hover-up ms-auto me-3">주소검색</button>
                                        </div>
                                        <input class="form-control mb-3 w-25" type="text" name="pPostCode" id="pPostCode" placeholder="우편번호" />
                                        <input class="form-control mb-3" type="text" name="targetPharAddr" id="targetPharAddr" placeholder="도로명주소" />
                                        <input class="form-control mb-3" type="text" name="targetPharAddrDetail" id="targetPharAddrDetail" placeholder="상세주소" />
                                        <input type="hidden" name="pAddrDo" id="pAddrDo" />
                                        <input type="hidden" name="pAddrSi" id="pAddrSi" />
                                        <input type="hidden" name="pAddrDong" id="pAddrDong" />
                                        <input type="hidden" name="pAddr" id="pAddr" />
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label fs-6" for="openDate">약국개업일자</label>
                                        <input type="date"  name="openDate"  id="openDate" class="form-control w-50">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section> <!-- content-main end// -->

</th:block>

<th:block layout:fragment="customJsFile">
</th:block>

<th:block layout:fragment="customJs">
    <script th:src="@{/resource/user/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        function searchAddress(searchObj) {
            new daum.Postcode({
                oncomplete: function(data) {
                    var addr = '';
                    if (data.userSelectedType === 'R') {
                        data.address = data.roadAddress;
                    } else {
                        data.address = data.jibunAddress;
                    }
                    if (searchObj != null) {
                        const valueArr = searchObj.value;
                        for (const key in searchObj) {
                            if (key === 'focus') {
                                document.getElementById(searchObj[key]).focus();
                                continue;
                            }
                            document.getElementById(searchObj[key]).value = data[key];
                        }
                    }
                }
            }).open();
        }

        $('#pAddrBtn').click(function(){
            const searchObj = {
                zonecode: 'pPostCode',
                address: 'targetPharAddr',
                focus: 'targetPharAddrDetail'
            };
            searchAddress(searchObj);
        });

        $('#resetBtn').click(e => {
            e.preventDefault();
            location.href = '/admin/adminMain';
        });

        $('#submitBtn').click(function(){
            let isSubmit = true;
            const fullPharAddress = $('#targetPharAddr').val().trim();
            const addrPharDetail = $('#targetPharAddrDetail').val().trim();
            if (fullPharAddress) {
                try {
                    const parsedAddress = parseAddress(fullPharAddress);
                    $('#pAddrDo').val(parsedAddress.sido);
                    $('#pAddrSi').val(parsedAddress.sigungu);
                    $('#pAddrDong').val(parsedAddress.dong);
                    $('#pAddr').val(parsedAddress.detail + ' ' + addrPharDetail);
                } catch (e) {
                    console.log(e);
                    alert('잘못된 약국 주소 형식입니다.');
                    $('#targetPharAddr').focus();
                    isSubmit = false;
                }
            } else {
                alert('도로명주소는 필수 입력 항목입니다');
                $('#targetPharAddr').focus();
                isSubmit = false;
            }

            $(`#addPharmacy .common input:not([type="hidden"]), #addPharmacy input:not([type="hidden"])`).each((idx, element) => {
                const id = element.id;
                const value = element.value;
                if (!value) {
                    alert(`${id}는(은) 필수 입력 항목입니다`);
                    $(element).focus();
                    isSubmit = false;
                    return false;
                }

            });
            if (isSubmit) {
                alert('정상처리되었습니다');
                $('#addPharmacy').submit();
                window.location.href = '/admin/adminMain'; // 리디렉션 경로로 이동합니다.
            }
        });



        function parseAddress(address) {
            const pattern = /(?<sido>[가-힣]+특별자치도|[가-힣]+시|[가-힣]+도|[가-힣]+북|[가-힣]+남|[가-힣]+기|[가-힣]+산|[가-힣]+구|[가-힣]+울|[가-힣]+전)\s+(?<sigungu>[가-힣]+시\s+[가-힣]+구|[가-힣]+시|[가-힣]+군|[가-힣]+구)\s+(?<detail>.+)/;
            const match = address.match(pattern);
            if (match) {
                const detailPattern = /(?<dong>[가-힣]+[동|읍|면|리])?\s*(?<detail>.+)?/;
                const detailMatch = match.groups.detail.match(detailPattern);
                return {
                    sido: match.groups.sido,
                    sigungu: match.groups.sigungu,
                    dong: detailMatch.groups.dong || '',
                    detail: detailMatch.groups.detail || match.groups.detail
                };
            } else {
                throw new Error('Invalid address format');
            }
        }
        $(document).ready(function() {
            $('#memberId').on('blur', function() {
                var memberId = $(this).val();
                var $checkMessage = $('#check-message');

                if (memberId.length === 0) {
                    $checkMessage.text('').hide();
                    return;
                }

                $.ajax({
                    url: '/admin/member/isStaff',
                    method: 'POST',
                    data: { memberId: memberId },
                    dataType: 'json',
                    success: function(response) {
                        console.log(response);
                        if (response) {
                            $checkMessage.text('해당 아이디는 관리약사 권한 입니다').css('color', 'green').show();
                            $('#submitBtn').prop('disabled', false);
                        } else {

                            $checkMessage.text('관리약사인경우에만 등록이 가능합니다.').css('color', 'red').show();
                        }
                    },
                    error: function(xhr, status, error) {
                        // 요청이 실패했을 때의 처리
                        console.error("Error: " + error);
                        $checkMessage.text('서버 오류가 발생했습니다. 다시 시도해주세요.').css('color', 'red').show();
                    }
                });
            });
        });
    </script>
</th:block>
</html>