<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="aside" th:fragment="asideFragment">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">

                <a th:href="@{/admin/adminMain}" class="logoNew brand-wrap" style="font-family: Cafe24Ssurround; color: pink; font-size: 2rem">약수터</a>

            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">회원 및 약국 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/member/memberInsert}">회원 추가</a>
                        <a th:href="@{#}">회원 검색</a>
                        <a th:href="@{#}">약국 추가</a>
                        <a th:href="@{#}">약국 검색</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">납품업체 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">납품업체 추가</a>
                        <a th:href="@{#}">납품업체 검색</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">의약품 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/medicine/medicineInsert}">의약품 추가</a>
                        <a th:href="@{/admin/medicine/medicineSearchList}">의약품 검색</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">로그인 이력 조회</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">주문 및 결제 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">장바구니에 의약품 추가</a>
                        <a th:href="@{#}">주문 검색</a>
                        <a th:href="@{#}">주문 취소</a>
                        <a th:href="@{#}">결제 수단 등록</a>
                        <a th:href="@{#}">결제 확인</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">반품 및 환불 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">반품 신청</a>
                        <a th:href="@{#}">반품 신청 내역 조회</a>
                        <a th:href="@{#}">반품 요청 수락</a>
                    </div>
                    </li>
                    <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">배송 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">배송 등록</a>
                        <a th:href="@{#}">배송 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">약국 재고 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/stockInsert}">재고 등록</a>
                        <a th:href="@{/admin/stockSearchList}">재고 조회</a>
                        <a th:href="@{#}">약국 재고조사 후 실수량 입력</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">약국 간 긴급 의약품 거래</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">긴급 의약품 요청</a>
                        <a th:href="@{#}">긴급 의약품 요청 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">문의 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">문의 등록</a>
                        <a th:href="@{#}">문의 내역 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">커뮤니티 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">커뮤니티 글 등록</a>
                        <a th:href="@{#}">커뮤니티 글 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">공지사항 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">공지사항 등록</a>
                        <a th:href="@{#}">공지사항 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">자주하는 질문 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">자주하는 질문 등록</a>
                        <a th:href="@{#}">자주하는 질문 조회</a>
                    </div>
                </li>
                <!--<li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">배송 등록</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" th:href="@{#}"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled th:href="@{#}">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>-->
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">Setting sample 1</a>
                        <a th:href="@{#}">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
</div>

</html>