<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="aside" th:fragment="asideFragment">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
                <a th:href="@{/admin/adminMain}" >
                    <img th:src="@{/resource/logo/logo_pink.png}" class="logo" alt="Nest Dashboard" />
                </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">회원 및 약국 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/member/memberInsert}">회원 추가</a>
                        <a th:href="@{/admin/member/memberSearchList}">회원 검색</a>
                        <a th:href="@{/admin/member/pharmacyInsert}">약국 추가</a>
                        <a th:href="@{/admin/member/pharmacySearchList}">약국 검색</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">납품업체 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/supplier/supplierInsert}">납품업체 추가</a>
                        <a th:href="@{/admin/supplier/supplierSearchList}">납품업체 검색</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">의약품 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/medicine/medicineInsert}">의약품 추가</a>
                        <a th:href="@{/admin/medicine/medicineSearchList}">의약품 검색</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">로그인 이력 조회</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/loginHistory}">로그인 이력 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon bi-credit-card-2-back-fill"></i>
                        <span class="text">주문 및 결제 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/addShoppingCart}">장바구니 관리</a>
                        <a th:href="@{/admin/orderSearchList}">주문 관리</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">반품 및 환불 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/refundSearchList}">반품 신청 내역 조회</a>
                    </div>
                    </li>
                    <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">배송 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/orderShip}">주문 배송 조회</a>
                        <a th:href="@{/admin/refundShip}">반품 배송 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">약국 재고 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/stockInsert}">재고 등록</a>
                        <a th:href="@{/admin/stockSearchList}">재고 조회</a>
                        <a th:href="@{/admin/stockHistoryList}">입출고 기록</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon bi-question-circle-fill"></i>
                        <span class="text">1:1 문의 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/qnaAdd}">문의등록</a>
                        <a th:href="@{/admin/qnaList}">문의목록</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon bi-chat-quote-fill"></i>
                        <span class="text">커뮤니티 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/boardAdd}">커뮤니티 등록</a>
                        <a th:href="@{/admin/boardList}">커뮤니티 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon bi-megaphone-fill"></i>
                        <span class="text">공지사항 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/noticeAdd}">공지사항 등록</a>
                        <a th:href="@{/admin/noticeList}">공지사항 조회</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon bi-headset"></i>
                        <span class="text">자주하는 질문 관리</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{/admin/faqAdd}">자주하는 질문 등록</a>
                        <a th:href="@{/admin/faqList}">자주하는 질문 조회</a>
                    </div>
                </li>
                <!--<li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">배송 등록</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" th:href="@{#}"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled th:href="@{#}">
                        <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>-->
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a th:href="@{#}">Setting sample 1</a>
                        <a th:href="@{#}">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" th:href="@{#}">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
</div>

</html>