#footer {
    color: black;
    font-family: 'Pretendard-Regular', 'Arial', sans-serif;
}


.footer {
    padding: 100px 0;
    background: #fafafa
}

.footer .link_check_company {
    font-weight: 700;
    color: inherit
}

.footer-inner {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.footer-logo {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px
}

.footer-info {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px
}

.content-html {
    max-width: 1024px
}

.content-tit {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 36px
}

.content-body {
    font-size: 14px;
    line-height: 24px
}

.content-body.pre {
    white-space: pre-wrap
}

.jconfirm-box {
    max-width: 1024px
}