.font-1 {
    font-family: 'Pretendard-Regular';
}
.font-2 {
    font-family: 'GmarketSans';
}
.cover-1 {
    background-color: #A1DCD8;
}
.cover-2 {
    background-color: #FFE8A5;
}
.cover-3{
    background-color: #009C86;
}
.cover-4{
    background-color: #1595D4;
}

.newItemsBorder {
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

.newItems {
    font-size: 1rem;
}

.btn-modal1 {
    background-color: #ff8c9f;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: "Pretendard-Regular", sans-serif;
    padding: 10px;
    margin: 10px;
}